@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b2929;
  --foreground: #171717;
  --primary: #f0b90b;
  --neutral: #1c1c1c;
  --success: #4da14f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: block; /* Ocultar scroll */
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
